.Contact {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 76px;
  display: flex;
  gap: 350px;

  .contactme {
    h1 {
      font-size: 50rem;
      line-height: normal;
      margin-bottom: 10px;
      font-family: "OpenSans Bold";
      margin-top: 50px;
      max-width: 700px;
    }
    p {
      font-family: "OpenSans Regular";
      font-size: 20rem;
    }
  }
  form {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 100px;
    max-width: 600px;
    font-family: "OpenSans Regular";
    font-size: 20rem;

    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px var(--primary);

      resize: vertical;
    }
    input[type="submit"] {
      background-color: var(--primary);
      padding: 12px 50px;
      border: none;
      border-radius: 4px;
      font-family: "OpenSans Bold";
    }
  }
}
