.services {
  margin-top: 60px;
  h1 {
    font-size: 30rem;
    font-weight: 200px;
    font-family: "OpenSans Regular";
    text-align: center;
  }
  .service_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    grid-gap: 40px;

    .service {
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: 350px;
      padding: 25px 40px;
      font-family: "OpenSans Regular";

      h1 {
        font-size: 12rem;
        line-height: normal;
        margin-bottom: 10px;
        font-family: "OpenSans Regular";
      }

      h2 {
        font-size: 18rem;
        line-height: normal;
        margin-bottom: 10px;
        font-family: "OpenSans Regular";
      }
      button {
        font-size: 15rem;
        font-family: "OpenSans Regular";
      }
    }
  }
}
