.USP {
  display: flex;
  margin-top: 50px;
  gap: 130px;

  .USP_text {
    max-width: 600px;
    margin-top: 30px;
    h1 {
      font-size: 50rem;
      line-height: normal;
      margin-bottom: 10px;
      font-family: "OpenSans Bold";
      margin-left: 50px;
      margin-right: 50px;
    }
    p {
      font-size: 20rem;
      font-family: "OpenSans Regular";
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .USP_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    grid-gap: 40px;

    .items {
      display: block;
      background-color: var(--primary);
      padding: 25px 40px;
      font-family: "OpenSans Regular";

      h1 {
        margin-bottom: 10px;
      }
      p {
        font-size: 15rem;
      }
    }
  }
}
