.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 1px red dotted;
  font-family: "OpenSans Regular";
  color: var(--elements);
  margin-left: 50px;
  margin-right: 50px;

  ul {
    display: flex;
    font-family: "OpenSans Regular";
    font-size: 20rem;
    margin-top: 10px;
    li {
      margin-left: 40px;
    }
  }
  .cta {
    background-color: var(--primary);
    padding: 5px 5px;
  }
  &__logo {
    margin-top: 20px;
    max-width: 700px;
  }
}
